<web-app>

    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>backend.GameServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/api/games</url-pattern>
    </servlet-mapping>

</web-app>
